@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.Course{
    color: black;
}
.Fragment-Container{
    position: relative;
    margin-top: 20px;
}

.Fragment-List {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

ul > li {
    display: inline-block;
    margin: 25px;
    /* You can also add some margins here to make it look prettier */
}