@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

:root {
  /*#5B43F0*/--theme-color: 91, 69, 240;
  /*#25E46B*/--primary-color: 37, 228, 107;
  /*#FF7A33*/--secondary-color: 255, 122, 51;
  /*#FF345C*/--tertiary-color: 255, 52, 92;
  /*#11021E*/--bg-color: 17, 2, 30;
  
  
  /*#FFFFFF*/--text-color: 256, 256, 256;
}

a {
text-decoration: none;
color: rgb(var(--text-color)) ;
}


.split {
    height: 100%;
   
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.Index {
    float: left;
    width: 55%;
    height: calc(100%-60px);
    left: 5%;
    top: 60px;
    overflow-y: scroll;
   }
.Index::-webkit-scrollbar {
    display: none;
  }

.LabName {
  font-size: 30px;
  font-family: 'Sarabun', sans-serif;
}

.LabInfo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 27px;
  font-size: 22px;
  font-family: 'Sarabun', sans-serif;
}

.LabImg{
  position: relative;
  top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}
.Slider{
  position: absolute;
  top: 80%;
}
.MatterUICon{
  position: absolute;
  left: 25px;
  top: 15px;
}
.MatterUICon{
  color: rgb(var(--text-color));
  font-size: 20px;
  font-family: 'Sarabun', sans-serif;
}
.form-range{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: rgb(var(--text-color)); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}
/* Mouse-over effects */
.form-range:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.form-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(var(--primary-color)); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.SceneContainer{
  position: relative;
  top: 20px;
  width: 100%;
}

.FooterSpace{
  position: relative;
  top: 20px;
  height: 100px;
}
.Footer{
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > a { 
  color: rgb(var(--theme-color));
}
.IndexWarp{
text-decoration: none;
color: rgb(var(--theme-color)) ;
}

.QuestionAnswer {
    float: right;
    width: 25%;
    right: 0%;
    padding-left: 5%;
    padding-right: 5%;
    top: 60px;

    background: rgb(var(--bg-color));
   }
.LabNumber{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  
  text-align: center;
  color: rgb(var(--text-color));
}
.ProgessBar{
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: rgb(var(--text-color));
  border-radius: 4px;

}
progress[value]::-webkit-progress-value {
 background-color: rgb(var(--theme-color));

}
.Question{
  position: relative;
  top: 20px;
  font-family: 'Sarabun', sans-serif;
  font-size: 20px;
  
  text-align: center;
  color: rgb(var(--text-color));
}
.AnswerList{
  position: relative;
  top: 40px;
  
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  color: rgb(var(--text-color));
  font-size: 20px;
  font-family: 'Sarabun', sans-serif;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.container input:checked ~ .checkmark {
  background-color: rgb(var(--theme-color));
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(var(--text-color));
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.AnswerList > button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.ButtonContainer{
  position: relative;
  top: 60px;
  width: 100%;
  height: 32px;
  top: 60px;

  display: inline;
  align-content:center ;
  
}
.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 15px 32px;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn:hover {
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}
.btn-secondary{
  background-color: rgb(var(--secondary-color));
  border: 1px solid rgb(var(--secondary-color));
  color: rgb(var(--text-color));
}

/* https://thegraph.com/en/ */
.btn-semi-transparent {
  background-color: rgba(var(--primary-color), 0.15);
  border: 1px solid rgba(var(--primary-color), 0.25);
  color: rgba(var(--text-color), 0.8);
}

.btn-semi-transparent:hover {
  background-color: rgba(var(--primary-color), 0.35);
  border: 1px solid rgba(var(--primary-color), 0.5);
  color: rgba(var(--text-color), 0.9);
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

/* https://sushi.com/ */
.btn-gradient {
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  color: rgba(var(--text-color));
}

/* https://sushi.com/ */
.btn-gradient-border {
  color: rgba(var(--text-color));
  border: 2px double transparent;
      background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.btn-previousPage {
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.btn-nextPage {
  position: relative;
  left: 18%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-answerSent{
  border: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF;
}

.FinishContainer{
position: relative;
padding: 30px;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.FinishImg{
  width: 15%;
  height: auto;
  justify-items: center;
  align-items: center;
}

.FinishInfo{
  position: relative;
  font-size: 22px;
  font-family: 'Sarabun', sans-serif;
}

.ReportButton {
  position: relative;
  left: 5%;
  background-color: rgb(var(--tertiary-color)); 
  border: none;
  color: rgb(var(--text-color));
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.UpvoteButton {
  position: relative;
  right: 5%;
  background-color: rgb(var(--primary-color)); 
  border: none;
  color: rgb(var(--text-color));
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .split {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    overflow-y: visible;
    padding-top: 20px;
  }
  .Index{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    top: 60px;
  }

  .QuestionAnswer {
    position: relative;
    float: none;
    width: 100%;
    left: 0%;
    overflow-x: hidden;
    background: rgb(var(--bg-color));
   }
  }